[Unit]
Description=repo2shellscript

[Service]
User=test
Restart=always
RestartSec=10
Environment='PATH=/home/test/.local/bin:/home/test/.local/bin:/srv/conda/envs/notebook/bin:/srv/conda/bin:/srv/npm/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'
Environment='DEBIAN_FRONTEND=noninteractive'
Environment='LC_ALL=en_US.UTF-8'
Environment='LANG=en_US.UTF-8'
Environment='LANGUAGE=en_US.UTF-8'
Environment='SHELL=/bin/bash'
Environment='USER=test'
Environment='HOME=/home/test'
Environment='APP_BASE=/srv'
Environment='CONDA_DIR=/srv/conda'
Environment='NB_PYTHON_PREFIX=/srv/conda/envs/notebook'
Environment='NPM_DIR=/srv/npm'
Environment='NPM_CONFIG_GLOBALCONFIG=/srv/npm/npmrc'
Environment='NB_ENVIRONMENT_FILE=/tmp/env/environment.lock'
Environment='MAMBA_ROOT_PREFIX=/srv/conda'
Environment='MAMBA_EXE=/srv/conda/bin/mamba'
Environment='KERNEL_PYTHON_PREFIX=/srv/conda/envs/notebook'
Environment='REPO_DIR=/home/test'
Environment='CONDA_DEFAULT_ENV=/srv/conda/envs/notebook'
Environment='PYTHONUNBUFFERED=1'
Environment='JUPYTER_TOKEN=test-token'

ExecStart=/usr/local/bin/repo2docker-entrypoint jupyter notebook --ip 0.0.0.0
WorkingDirectory=/home/test

[Install]
WantedBy=multi-user.target
